@{
    ViewData["Title"] = "Create";
}

<form action="Home/Create" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" id="Name" name="Name" class="form-control" />
    </div>
     <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input type="text" id="Price" name="Price" class="form-control" />
    </div>
     <div class="mb-3">
        <label for="Image" class="form-label">Image</label>
        <input type="text" id="Image" name="Image" class="form-control" />
    </div>
     <div class="mb-3">
        <label for="CategoryId" class="form-label">CategoryId</label>
        <select name="CategoryId" id="CategoryId" class="form-select">
            @foreach (var item in ViewBag.Categories)
            {
                <option value="@item.CategoryId">@item.Name</option>
            }
        <option value="0">All</option>
        </select>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input" />
        <label for="IsActive" class="form-check-label">Is Active</label>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
